body {
  margin: 0;
  color: #ffffff;
  background-color: #000000;
}

video {
  width: 100vmin;
  height: 100vmin;
  object-fit: cover;
  object-position: center center;
}

img {
  max-width: 100vw;
}

.intro-area {
  margin: 1rem;
}

.video--overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: .75;
}

.video--overlay-guide {
  stroke: #ffffff;
  stroke-width: .125rem;
}

.hide {
  display: none !important;
}

.video-wrapper {
  background-color: #000000;
  position: relative;
  height: 100vmin;
  overflow: hidden;
  text-align: center;
}

.capture-image-wrapper {
  text-align: center;
  margin: 0 0 1rem;
}

.thumbnail-list {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.thumbnail-item {
  display: inline-block;
  width: 25vw;
  height: 25vw;
  max-width: 15rem;
  max-height: 15rem;
}

.thumbnail {
  width: 25vw;
  height: 25vw;
  max-width: 15rem;
  max-height: 15rem;
  /*object-fit: cover;
  contain: strict;*/
  box-sizing: border-box;
}

.thumbnail-item--selected .thumbnail {
  border: 2px solid white;
}

.actions {
  text-align: center;
}

.actions-capture-snapshot {
  margin: 2rem 0;
}

.capture-snapshot-btn {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
}

.capture-snapshot-btn:active {
  background-color: rgba(255, 255, 255, .5);
}

.capture-snapshot-btn__inner {
  position: absolute;
  top: calc(.5rem + 1px);
  left: calc(.5rem + 1px);
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border: 1px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
}

.btn {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-size: 1rem;
  padding: .75rem 1rem;
}

.link,
.link:hover,
.link:active,
.link:visited {
  color: #ffffff;
}

.logger {
  margin: 1rem;
  text-align: left;
  font-size: .75rem;
  white-space: pre-wrap;
}
