body {
  margin: 0;
}

video {
  width: 100vmin;
  height: 100vmin;
  object-fit: cover;
  object-position: center center;
}

button {
  font-size: 1rem;
  padding: .5rem;
}

pre {
  text-align: left;
  font-size: .75rem;
  white-space: pre-wrap;
}

img {
  max-width: 100vw;
}

.video--overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: .75;
}

.video--overlay-guide {
  stroke: #ffffff;
  stroke-width: .125rem;
}

.hide {
  display: none !important;
}

.video-wrapper {
  background-color: #000000;
  position: relative;
  margin: auto;
  width: 100vmin;
  height: 100vmin;
  overflow: hidden;
  text-align: center;
}

.action-capture-snapshot--enabled .action-capture-snapshot__enabled-legend,
.action-capture-snapshot--disabled .action-capture-snapshot__disabled-legend {
  display: inline;
}

.action-capture-snapshot--enabled .action-capture-snapshot__disabled-legend,
.action-capture-snapshot--disabled .action-capture-snapshot__enabled-legend {
  display: none;
}

.capture-image-wrapper {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.thumbnail-list {
  list-style-type: none;
  padding-left: 0;
}

.thumbnail-item {
  display: inline;
}

.thumbnail {
  width: 20vw;
  max-width: 15rem;
}
