body {
  margin: 0;
  color: #ffffff;
  background-color: #000000;
}

video {
  width: 100vmin;
  height: 100vmin;
  object-fit: cover;
  object-position: center center;
}

img {
  max-width: 100vw;
}

.btn {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-size: 1rem;
  padding: .75rem 1rem;
}

.btn-round {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-unstyled {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.link,
.link:hover,
.link:active,
.link:visited {
  color: #ffffff;
}

.intro-area {
  margin: 1rem;
}

.video--overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: .75;
}

.video--overlay-guide {
  stroke: #ffffff;
  stroke-width: .125rem;
}

.hide {
  display: none !important;
}

.video-wrapper {
  background: url('../../assets/images/geometry-club-preview.jpg') center/cover #000000 no-repeat;
  position: relative;
  height: 100vmin;
  overflow: hidden;
  text-align: center;
}

.capture-image-wrapper {
  text-align: center;
  margin: 0 0 1rem;
}

.capture-image-wrapper img { width: 100%; }

.thumbnail-list {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.thumbnail-item {
  display: inline-block;
  width: 25vw;
  height: 25vw;
  max-width: 15rem;
  max-height: 15rem;
}

.thumbnail {
  width: 25vw;
  height: 25vw;
  max-width: 15rem;
  max-height: 15rem;
  /*object-fit: cover;
  contain: strict;*/
  box-sizing: border-box;
}

.thumbnail-item--selected .thumbnail {
  border: 2px solid white;
}

.actions {
  margin: 2rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around; /* fallback */
  justify-content: space-evenly;
}

.capture-snapshot-btn {
  position: relative;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-width: 2px;
}

.capture-snapshot-btn:active {
  background-color: rgba(255, 255, 255, .5);
}

@keyframes rotation-cw {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes rotation-ccw {
	0%   { transform: rotate(360deg); }
	100% { transform: rotate(0deg); }
}

.capture-snapshot-btn:disabled {
  border-top-color: transparent;
  border-right-color: transparent;
  animation: rotation-cw 1.5s linear infinite;
}

.capture-snapshot-btn::before {
  content: "";
  position: absolute;
  top: calc(.5rem + 1px);
  left: calc(.5rem + 1px);
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;

  /* .btn-round */
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
}

.capture-snapshot-btn:disabled::before {
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: rotation-ccw .75s linear infinite;
}

.logger {
  margin: 1rem;
  text-align: left;
  font-size: .75rem;
  white-space: pre-wrap;
}

.go-to-gallery-thumbnail {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: .5rem;
}

.capture-area-action {
  flex: 0 0 5rem;
  height: 5rem;
}
