:root {
  --open-color-gray2: #e9ecef;
  --open-color-gray3: #dee2e6;
  --open-color-gray5: #adb5bd;
  --open-color-gray6: #868e96;
  --open-color-gray7: #495057;
  --open-color-gray9: #212529;

  --bg: black;
  --fg: var(--open-color-gray3);

  --form-input-inactive: var(--open-color-gray7);
  --form-input-active: var(--fg);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  background-color: var(--bg);
  font-size: 16px;
}

.pane {
  flex: 1 0 50%;
}

.pane--video,
.pane--reaction {
  display: none;
}

.body--is-cinema .pane--video,
.body--is-not-cinema .pane--video {
  display: flex;
}

.pane__iframe {
  flex: 1 1 auto;
  height: 100%;
}

.body--is-cinema .pane--reaction,
.body--is-not-cinema .pane--reaction {
  display: flex;
}

.pane--reaction {
  color: white;
  flex-flow: column-reverse wrap;
  align-items: center;
}

.pane--reaction--marty-serious {
  background-image: url('https://bostonglobe-prod.cdn.arcpublishing.com/resizer/NzdesrclpAsgcxjrfkAWh8zQpZc=/1440x0/arc-anglerfish-arc2-prod-bostonglobe.s3.amazonaws.com/public/WSLEGUWMJQI6NECD67LAQQIFTU.jpg');
  background-size: cover;
  background-position: right 25% bottom;
}

.body--is-cinema .pane--intro,
.body--is-not-cinema .pane--intro {
  display: none;
}

.pane--intro {
  display: flex;
  align-items: center;
}

.form {
  flex: 1 1 100%;
}

.form__label {
  display: block;
}

.form__label-text {
  display: none;
}

.form__input {
  box-sizing: border-box;
  display: block;
  background-color: var(--bg);
  border-radius: .5rem;
  border: 1px solid var(--form-input-inactive);
  color: var(--form-input-active);
  font-size: 2rem;
  padding: 1rem;
  width: 90%;
  margin: 0 5%;
}

.form__input:active,
.form__input:focus,
.form__input:hover {
  border-color: var(--form-input-active);
}

.form__input::placeholder {
  color: var(--form-input-inactive);
}

.quote {
  font-family: "DM Serif Display", serif;
  margin: 2.5rem;
  text-shadow: 1px 1px 0px var(--open-color-gray9);
}

.quote__blockquote {
  margin: 0;
}

.quote__text {
  font-size: 4vmax;
  margin: 0;
}

.quote__text--is-cinema,
.quote__text--is-not-cinema {
  display: none;
}

.body--is-cinema .quote__text--is-cinema,
.body--is-not-cinema .quote__text--is-not-cinema {
  display: inline;
}

.quote__author {
  font-style: italic;
  font-size: 2.5vmax;
  text-align: right;
}

@media (max-width: 640px) {
  body {
    flex-flow: column wrap;
  }

  .pane--reaction--marty-serious {
    background-position: right center;
    background-size: 133%;
  }
}