.currencies {
  text-align: center;
}

.currency-main,
.currency {
  font-family: monospace;
}

.currency-main {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: normal;
}

.currency-list {
  display: inline-flex;
  flex-flow: column nowrap;
  list-style-type: none;
  padding-left: 0;
  font-size: 1.5rem;
}

.currency {
  text-align: right;
}

.currency-link {
  display: block;
  padding: .5rem .75rem;
  text-decoration: none;
}

.currency-link:hover {
  background-color: #b3e5fc; /* Light Blue 100 */
}

.currency-link,
.currency-link:hover,
.currency-link:active {
  color: black;
}
